$font-color1 : #5B5B5B;

// mixin set *************************
@mixin size-set($width, $height) {
  width: $width;
  height: $height;
}
@mixin size-set-color($width, $height, $color) {
  width: $width;
  height: $height;
  background: $color;
}
@mixin flex-set($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin font-set($size, $weight, $align, $color) {
  font-size: $size;
  font-weight: $weight;
  text-align: $align;
  color: $color;
}
@mixin absolute-top-left($top, $left, $translate) {
  position: absolute;
  top: $top;
  left: $left;
  transform: $translate;
}
@mixin absolute-top-right($top, $right, $translate) {
  position: absolute;
  top: $top;
  right: $right;
  transform: $translate;
}
@mixin relative-top-left($top, $left) {
  position: relative;
  top: $top;
  left: $left;
}
@mixin relative-top-right($top, $right) {
  position: relative;
  top: $top;
  right: $right;
}

// style set *************************
header {
  position: fixed;
  top: -100%;
  left: 0;
  opacity: 0;
  z-index: 10;

  @include size-set-color(100vw, 10vh, #F7F3E7CC);
  @include flex-set(flex-end, center, row);

  nav ul {
    @include size-set(40vw, 10vh);
    @include flex-set(space-evenly, center, row);

    li a {
      @include font-set(1.05em, 400, center, $font-color1);
      position: relative;
    }
    li a::before {
      content: '';
      @include absolute-top-left(120%, 50%, translateX(-50%));
      @include size-set-color(0, 1px, #FFC000);
      transition: .5s;
    }
    li a.on {
      font-weight: 500;
    }
    li a.on::before {
      width: 22px;
    }
    li a:hover {
      font-weight: 500;
    }
    li a:hover::before {
      width: 22px;
    }
  }
}