@import "commom.scss";

// class
.opacity0 {
  opacity: 0;
}
.opacity1 {
  opacity: 0;
}

#recommen-container {
  @include size-set-color(100vw, 100vh, $background-color1);
  @include flex-set(center, center, column);
  padding-top: 10vh;
  
  #sub-menu ul {
    @include size-set(30vw, 8vh);
    @include flex-set(space-between, center, row);

    li {
      font-size: 1.15em;
      color: $font-color2;
      cursor: pointer;
      padding: 1vh 1vw;
    }
    li:hover {
      font-weight: 500;
    }
    li.on {
      font-weight: 500;
    }
  }

  #content-container {
    @include size-set(75vw, 60vh);
    overflow: hidden;
    
    #content {
      @include size-set(375vw, 60vh);
      @include flex-set(center, center, row);
      @include relative-top-left(0, 0vw);
      transition: 1s;
      
      & > div {
        @include size-set(75vw, 40vh);
        margin: 10vh 0 15vh;
        
        
        ul {
          @include flex-set(space-between, center, row);
    
          li {
            cursor: pointer;
            
            span {
              @include size-set(100%, 100%);
              display: block;
              overflow: hidden;
    
              img {
              @include size-set(100%, 100%);
              vertical-align : top;
              transition: .5s;
              }
            }
            
            strong {
              @include font-set(1.1em, 400, center, $font-color2);
              display: block;
              padding: 1vh 0;
            }
  
            p {
              @include font-set(1em, 400, center, $font-color2);
            }
          }
          li:hover span img {
            transform: scale(1.08);
          }
          li:hover > div * {
            font-weight: 500;
          }
        }
      }
    }
  } 
}