@import "commom.scss";

.test-border1 {
  border: 1px solid red;
}
.opacity0 {
  opacity: 0;
}
.opacity1 {
  opacity: 0;
}
.on {
  font-weight: 500;
}

#recommen-container {
  @include size-set-color(100vw, 100vh, $background-color1);
  @include flex-set(center, center, column);
  padding-top: 10vh;
  
  & > div {
    @include relative-top-left(-5vw, 0);
  }
  
  #sub-menu ul {
    @include size-set(30vw, 8vh);
    @include flex-set(space-between, center, row);

    li {
      font-size: 1.15em;
      color: $font-color2;
      cursor: pointer;
      padding: 1vh 1vw;
    }
    li:hover {
      font-weight: 500;
    }
  }

  #content {
    height: 60vh;
    
    ul {
      @include size-set(75vw, 40vh);
      @include flex-set(space-between, center, row);
      margin: 10vh 0 15vh;

      li {
        strong {
          @include font-set(1.1em, 400, center, $font-color2);
          display: block;
          padding: 1vh 0;
        }
        p {
          @include font-set(1em, 400, center, $font-color2);
        }
      }
    }
    ul:nth-child(1) {
      opacity: 1;
    }
    ul:nth-child(2) {
      @include relative-top-left(-55vh, 0);
    }
    ul:nth-child(3) {
      @include relative-top-left(-110vh, 0);
    }
    ul:nth-child(4) {
      @include relative-top-left(-165vh, 0);
    }
    ul:nth-child(5) {
      @include relative-top-left(-220vh, 0);
    }
  } 
}