@import "commom.scss";

#sell-container {
  @include size-set-color(100vw, 100vh, $background-color1);
  @include flex-set(center, center, row);
  
  ul {
    @include size-set(70vw, 60vh);
    @include grid-set(repeat(2, 1fr), repeat(5, 1fr), 2vw 2vh);
    margin-top: 3vh;
    opacity: 0;

    li {
      position: relative;

      a {

        img {
          @include size-set(100%, 100%);
        }

        div {
          @include size-set-color(100%, 100%, rgba(0,0,0,.6));
          @include absolute-top-left(0, 0, translateX(0));
          @include font-set(1.15em, 500, center, #fff);
          @include flex-set(center, center, row);
          transition: 1s;
          opacity: 0;
        }
      }
    }
    li:hover {
      div {
        opacity: 1;
      }
    }
  }
}