@import "mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@300;400;500&display=swap');

$font-color1 : #5B5B5B;
$background-color1 : #F7F3E7;

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: #282828;
  text-decoration: none;
}

body {
  // body
  font-family: 'IBM Plex Sans KR', sans-serif;
  @include size-set(100vw, 100vh);
  @include flex-set(center, center, row);
  overflow: hidden;
  
  section {
    @include size-set(50vw, 100vh);
  }

  #text {
    @include flex-set(center, center, column);
    background: $background-color1;

    h2 {
      font-family: Bad Script;
      @include font-set(55px, normal, center, #5B5B5B);
      font-style: italic;
    }

    p {
      font-family: Gowun Dodum;
      @include size-set(20vw, 10vh);
      @include font-set(20px, normal, center, $font-color1);
      margin-top: 6vh;
      position: relative;
      
      span {
        @include size-set(2px, 30px);
        background-color: #C7C7C7;
        display: inline-block;
        @include absolute-top-left(50%, 0, translateY(-80%));
      }
      #right {
        left: 100%;
      }
    }
  }

  #img {
    background: url(../images/img.jpg) no-repeat;

    #meun-botton {
      @include size-set(41vw, 8vh);
      @include absolute-top-right(0, 0, translateX(0));
      
      div {
        margin: 4vh 4.9vw 0 0;
        @include size-set-color(35px, 3px, #fff);
        @include absolute-top-right(0, 0, translateY(0));
      }
      div:nth-child(1) {
        width: 700px;
      }
      div:nth-child(2) {
        top: 12px;
      }
      div:nth-child(3) {
        top: 24px;
      }

      // nav
      nav {
        @include size-set-color(0vw, 100vh, #F7F3E7CC);
        @include absolute-top-right(-3%, -4.9%, translateY(0));
        border-radius: 3vw 0 0 3vw;

        ul {
          margin-top: 20vh;
        }
        ul li a {
          @include font-set(20px, 400, center, $font-color1);
          display: block;
          padding: 2.5vh 0;
          transition: .3s;
        }
        ul li a:hover {
          background: #FFF0C299;
          font-weight: 500;
        }
      }
    }
  }

  span {
    @include absolute-top-left(97%, 50%, translateX(-50%));
    @include size-set-color(90vw, 2px, #fff);
  }
}